# Configuración de la DB.
DB_CONNECTION=sqlite
DB_HOST=127.0.0.1
DB_PORT=
DB_DATABASE=keycounter.db
DB_USERNAME=dbuser
DB_PASSWORD=dbpassword

# Datos para la API
API_URL=http://example.com
API_TOKEN=apitoken
UPLOAD_API=False

# Nombre del equipo para identificarlo en la api, id y nombre.
DEVICE_ID=1

# Puerto de la pantalla Serial.
SERIAL_DISPLAY_ENABLED=False
SERIAL_PORT=/dev/ttyUSB1
SERIAL_BAUDRATE=115200

# Configuración de la pantalla.
DISPLAY_ORIENTATION=horizontal

# Indica si se toman registros del ratón.
MOUSE_ENABLED=True

# Indica si está en modo debug la aplicación
DEBUG=False